{erl_opts, [debug_info]}.
{deps, [
  cowboy,
  jsone,
  {gen_serial, {git, "https://github.com/tomszilagyi/gen_serial", {branch, "master"}}},
  {serial, {git, "https://github.com/hiroeorz/erlang-serial.git", {branch, "master"}}},
  {arduino_erlang, {git, "https://github.com/hiroeorz/arduino-erlang.git", {branch, "master"}}}
]}.
%%{elixir_deps, [circuits_uart]}.

{shell, [
  % {config, "config/sys.config"},
  {apps, [htest]}
]}.


{relx, [
  {release, {app, "0.1.0"}, [htest, sasl]},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}]
}.

{profiles, [
  {prod, [
    {relx, [{dev_mode, true}, {include_erts, true}]}
  ]}
]}.


{plugins, [rebar3_hex]}.