[
  {htest, []},
  {arduino,
    [{arduino,
      [{speed, 57600},
        {device, "/dev/ttyACM0"},
        {sampling_interval, 290},
        {digital_port_reporting, [1, 0]},
        {digital_port_offset, 0},
        {analog_offset, 0},
        {analog, [1, 2, 3, 4, 6]},
        {digital,
          [{0, out},
            {1, out},
            {2, pwm},
            {3, in, [{pull, up}]},
            {4, out},
            {5, out},
            {6, in, [{pull, up}]},
            {7, in, [{pull, up}]},
            {8, out},
            {9, out},
            {10, pwm},
            {11, pwm},
            {12, servo},
            {13, servo}]}]
    }]}
].
