[
	{htest, []},
	{kernel, [
		{logger, [
			{handler, default, logger_std_h,
				#{formatter => {
					jsonlog, #{
						jsone_options => [
%% optional jsone encoding options
%% -type encode_option() :: native_utf8
%%                       | native_forward_slash
%%                       | canonical_form
%%                       | {float_format, [float_format_option()]}
%%                       | {datetime_format, datetime_encode_format()}
%%                       | {object_key_type, string | scalar | value}
%%                       | {space, non_neg_integer()}
%%                       | {indent, non_neg_integer()}
%%                       | common_option().
						]}
				}}
			}
		]}
		, {logger_level, info}
	]}
].
